<a href="https://colab.research.google.com/github/acascante1962/tonyrepo/blob/main/ConsolidarHojasExcelV2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CONSOLIDAR TODAS LAS HOJAS DE UN WORKBOOK DE EXCEL EN UNA SOLA HOJA**
Por Anthony Cascante cascante.tony@gmail.com - Octubre 2020

En ocasiones puede ser necesario trasladar datos diseminados en varias hojas de Excel a una sola hoja.  Si son pocas hojas, se pueden usar técnicas de filtrado o copiar/pegar,  pero sin son muchas hojas estos métodos son tediosos y proclives a errores.

Este código resuelva la necesidad de integrar todas las hojas (Sheets) de un libro (Workbook) de Excel en una sola hoja.  Las hojas tienen diferente cantidad de filas,  pero todas tienen el mismo encabezado (Fila 1).  Se utilizan las librerías Pandas y Openpyxl.

In [ ]:
#SE INSTALAN LIBRERIAS
from openpyxl import Workbook
import pandas as pd

###DATASET###
Como dataset se utilizará el workbook de Excel "products.xls"  el cual contiene 7 hojas, donde cada hoja tiene 3 columnas con los encabezados A, B, y C en la primera fila.

In [ ]:
#se carga el archivo con los datos al entorno de trabajo de Colab
from google.colab import files
uploaded = files.upload()

Saving products.xlsx to products.xlsx

In [ ]:
#SE ASIGNA EL ARCHIVO A LA VARIABLE "workbook"
from openpyxl import load_workbook
workbook = load_workbook(filename="products.xlsx")
#SE VERIFICA LA LISTA DE HOJAS DEL LIBRO
workbook.sheetnames

['producto1',
 'producto2',
 'producto3',
 'producto4',
 'producto5',
 'producto6',
 'producto7']

In [ ]:
# SE CREA UNA LISTA CON LOS NOMBRES DE TODAS LAS HOJAS QUE COMPONEN EL ARCHIVO
NAMES=(workbook.get_sheet_names())
NAMES

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).

['producto1',
 'producto2',
 'producto3',
 'producto4',
 'producto5',
 'producto6',
 'producto7']

Las diferentes hojas se integra en un dataframe.  Aquí se construye el dataframe únicamente con los nombres de las columnas.

In [ ]:
 df = pd.DataFrame(columns=['A','B','C','D'])

Se usará la función "workbook" de la librería openpyxl.  Esta función usa como argumento el nombre de cada hoja y asigna el contenido de la hoja en una variable.   Los nombres de las hojas están almacenados en la lista NAMES.  Seguidamente se construye un dataframe con los datos de cada hoja.  A esa dataframe se le agrega una columna D con el nombre de la hoja original, esto con el fin de identificar la procedencia del dato.  Finalmente cada dataframe es concatenado al dataframe vacío creado en el paso anterior.

In [ ]:
for x in NAMES: # para todas las hojas del libro 
  ws = workbook[x]
  data = ws.values #Se asignan todos los datos de la hoja a la variable datos
  columns = next(data)[0:] #se extraen los datos de la primera fila
  dfx = pd.DataFrame(data, columns=columns) #Se construye dataframe con las datos de la hoja
  dfx['D'] = x #se agrega columna con el nombre de la hoja
  df=pd.concat([df, dfx])

In [ ]:
df

    A   B   C          D
0  11  11  11  producto1
1  11  11  11  producto1
0  22  22  22  producto2
1  22  22  22  producto2
0  33  33  33  producto3
1  33  33  33  producto3
0  44  44  44  producto4
1  44  44  44  producto4
0  55  55  55  producto5
1  55  55  55  producto5
0  66  66  66  producto6
1  66  66  66  producto6
0  77  77  77  producto7
1  77  77  77  producto7

In [ ]:
En resumen,  todo el código queda así:

In [ ]:
#from openpyxl import Workbook
#import pandas as pd
#from google.colab import files
#uploaded = files.upload()
#from openpyxl import load_workbook
#workbook = load_workbook(filename="products.xlsx")
NAMES=(workbook.get_sheet_names())
df = pd.DataFrame(columns=['A','B','C'])
for x in NAMES: # para todas las hojas del libro 
  ws = workbook[x]
  data = ws.values
  columns = next(data)[0:] 
  dfx = pd.DataFrame(data, columns=columns)
  dfx['D'] = x 
  df=pd.concat([df, dfx])
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  import sys

    A   B   C          D
0  11  11  11  producto1
1  11  11  11  producto1
0  22  22  22  producto2
1  22  22  22  producto2
0  33  33  33  producto3
1  33  33  33  producto3
0  44  44  44  producto4
1  44  44  44  producto4
0  55  55  55  producto5
1  55  55  55  producto5
0  66  66  66  producto6
1  66  66  66  producto6
0  77  77  77  producto7
1  77  77  77  producto7